* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(249, 241, 231);
    height: 60px;
    align-items: center;
}

.header .header_left {
    /* background-color: red; */
}

.header .header_right {
    
}
 .header .header_right input {
    padding: 5px;
    outline: none;
}
 .header .header_right .input_show {
    width: 20px;
}
 .header .header_right .input_shortby::placeholder{
   padding-left: 20px;
}
/* CSS phần main */
.main{
    /* background-color: #dbdbdb; */
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}
.main .item{
    width: 23%;
   border: 1px solid rgb(36, 34, 34);
   position: relative;
   background-color: #F4F5F7;
}
.main .item .price{
    width: 40px;
    height: 40px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.main .item .image{
    height: 150px;
    background-color: red;
}
.main .item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}