*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.container{
    border: 3px solid black;
}
.container .header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.container .header .left{
    background-color: #f8cef5;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 40px;
}
.container .header .right{
    color: white; 
    margin-right: 100px;
    margin-bottom: 20px;
}
.container .header .right .text1{
    display: none;
}
.container .header .right i{
    display: none;
}
.container .header .right span{
    margin-bottom: 100px;
    margin-left: 20px;
}
.container .body .item1{
    background-color: #700b4b;
    margin: 20px;
    height: 200px;
}
.container .body .item2{
    display: flex;
    margin: 20px;
}
.container .body .item2 .item{
    width: 25%;
    height: 100px;
    background-color: #8d2458;
    margin-right: 10px;
}
.container .body .item3{
    display: flex;
    margin: 20px;
}
.container .body .item3 .item{
    width: 50%;
    height: 150px;
    background-color: #98376c;
    margin-right: 10px;
}
.container .body .item4{
    margin: 20px;
    height: 150px;
    background-color: #883266;
    margin-right: 10px;
}
@media screen and (max-width:1200px) {
    .container .header{
        height: 40px;
    }
    .container .header .right{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    .container .header .right .text1{
        display: block;
    }
    .container .body .item2{
        flex-wrap: wrap;
    }
    .container .body .item2 .item{
        width: 48%;
        margin-top: 20px;
        height: 100px;
        margin-right: 10px;
    }
    .container .body .item3{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .container .header .right .text{
        display: none;
    }
    .container .header .right .text1{
        display: none;
    }
    .container .header .right i{
        display: block;
        position: relative;
        bottom: 42px
    }
    .container .body .item2{
        display: flex;
        flex-direction: column;
    }
    .container .body .item2 .item{
        width: 100%wwwwwwhjhhjjuuuiknjhuy67;
    }
}