/* reset CSS
đưa CSS về trạng thái mặc định
 */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box
 }
div{
    background-color:brown;
    width: 200px;
    height: 50px;
    color:darkviolet
    
}